* {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(24, 24, 24);
}

header {
  background-color: #262626;
  width: 100vw;
  height: 6.5vh;
}

header > .header-content {
  margin: auto;
  width: 76.5vw;
  display: flex;
  justify-content: space-between;
}

#logo {
  margin-top: 1.125%;
  width: 8%;
  filter: brightness(125%);
}

#sign-in {
  text-align: center;
  margin-top: 1%;
  width: 6.5%;
  background-color: rgb(244, 40, 54);
  color: white;
  padding: 0.65% 1%;
  border: none;
  outline: none;
  border-radius: 2rem;
}

main {
  width: 80vw;
}

.main-content {
  margin: auto 0px 1rem 0px;
  border-radius: 1rem;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  background-color: #262626;
}
